#about-me-header {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 1rem;

}

#about-me-header>h1 {
    font-size: 4rem;
    font-weight: 300;
}

#about-me-header>img {
    border-radius: 4px;
    height: 24rem;
    margin-top: 4rem;
}

#about-me-greeting {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

#about-me-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 2rem;
}

.about-me-content-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-me-content-text h2 {
    font-weight: 400;
}

.about-me-content-text:nth-child(1) {
    grid-column: 1 / 3;
}

.about-me-content-text:nth-child(2) {
    grid-column: 1;
}

.about-me-content-text:nth-child(3) {
    grid-column: 2;
    text-align: left;
    ;
}

.about-me-content-text:nth-child(4) {
    grid-column: 1 / 3;
}

#projects-header {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

#projects {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

#projects-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 2rem;
    gap: 2rem;
}

.project-item {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
    width: calc(100vw - 5rem);
}

.project-item img {
    border-radius: 4px;
    width: 100%;
    height: 16rem;
    display: block;
}

.other-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

#more-projects {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#more-projects button {
    border-radius: 21px;
    background-color: #2b2b2b;
    border: none;
    height: auto;
    font-size: 1rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}