#about-content {
    margin-top: 4rem;
}

#about-content-left {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#about-content-left>div {
    display: flex;
    gap: 1rem;
}

.about-content-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#projects-section .section-header:nth-child(2) {
    text-align: left;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 4rem;
}

#projects-section .section-header:nth-child(2)>h3 {
    color: #999999;
}

#news-carousel {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.news-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    gap: 1rem;
    opacity: 0.6;
    flex: 0 0 60%;
    font-size: 0.8rem;
}

.news-item-active {
    opacity: 1;
    flex: 0 0 70%;
    font-size: 1rem;
}

.news-item img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 9px;
}

#github-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#github-button button {
    padding: 1rem 2rem;
    border-radius: 9px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    letter-spacing: -0.05cap;
}