#blog-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#blog-content {
    width: 100%;
    max-width: 900px;
}

#search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

#search-container input {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border-radius: 9px 0 0 9px;
    border: none;
    background-color: #161616;
    color: #999999;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
}

#search-container button {
    margin-left: -1rem;
    padding: 1rem 2rem;
    border-radius: 9px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
}

#blog-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}

#blog-filters div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 9px;
    background-color: #161616;
    color: #999999;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
}

#blog-filters img {
    width: 1rem;
    height: 1rem;
    filter: invert(0.5);
}

#blog-posts {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.slider-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.slider-item img {
    width: 7rem;
    aspect-ratio: 1/1;
    border-radius: 9px;
}

.slider-item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#blog-pagination {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

#blog-pagination button {
    padding: 1rem 2rem;
    border-radius: 9px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
}

@media screen and (min-width: 600px) {
    #blog-posts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .slider-item {
        flex-direction: column;
    }

    .slider-item div {
        align-items: flex-start;
        max-width: 224px;
    }

    .slider-item img {
        width: 224px;
    }

}

@media screen and (min-width: 735px) {
    .slider-item div {
        max-width: 278px;
    }

    .slider-item img {
        width: 278px;
    }

}