#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
}

#search-bar input {
    border-radius: 4px 0 0 4px;
    background-color: #111111;
    border: none;
    height: auto;
    padding: 0.75rem 1.5rem;
    width: 100%;
    font-size: 1rem;
    color: #BABABA;
}

#search-bar button {
    border-radius: 0 4px 4px 0;
    background-color: #2b2b2b;
    border: none;
    height: auto;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
}

#post-count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#blog-posts {
    margin-top: 4rem;
}

#control-panel {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

#control-panel div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#control-panel span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#control-panel img {
    width: 1rem;
    height: 1rem;
}


#load-more {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}