.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
}

.form-group label {
    width: 100%;
}

.form-group input,
textarea {
    border-radius: 4px;
    background-color: #111111;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    width: 100%;
    color: #BABABA;
}

.form-group button {
    margin-top: 2rem;
}