#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    width: 100%;
    gap: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    max-width: 500px;
    gap: 0.5rem;
}

.form-group:nth-last-child(2) {
    flex-direction: row;
    gap: 1rem;
    color: #999999;
    font-size: 0.75rem;
}

.form-group:nth-last-child(2) input {
    width: auto;
}

.form-group:last-child {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.form-group input {
    width: 100%;
    padding: 1rem;
    border-radius: 9px;
    border: none;
    background-color: #161616;
    color: #999999;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    letter-spacing: -0.05cap;
}

.form-group textarea {
    width: 100%;
    height: 300px;
    padding: 1rem;
    border-radius: 9px;
    border: none;
    background-color: #161616;
    color: #999999;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    letter-spacing: -0.05cap;
    resize: none;
}

.form-group button {
    padding: 1rem 2rem;
    border-radius: 9px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    letter-spacing: -0.05cap;
}