footer {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 4rem;
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

#newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

#newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 600px;
}

#newsletter-form input {
    border-radius: 4px 0 0 4px;
    background-color: #111111;
    border: none;
    height: auto;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    width: 100%;
    color: #BABABA;

}

#newsletter-form button {
    border-radius: 0 4px 4px 0;
    background-color: #2b2b2b;
    border: none;
    height: auto;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
}

#newsletter p:nth-child(4) {
    font-size: 1rem;
    max-width: 600px;
    color: #999999;
}

#footer-content {
    margin-top: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 480px) {
    footer {
        padding-left: 10vw;
        padding-right: 10vw;
    }


}