header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    margin-bottom: 8rem;
    position: sticky;
    top: 0;
    background-color: black;
}

#logo-container>img {
    width: 3rem;
    height: auto;
}

#blog-name {
    font-weight: 600;

}

#menu-container>img {
    width: 2rem;
    height: 2rem;
}