#latest-news {
    margin-top: 8rem;
}

#load-more {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts-category {
    text-align: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 4rem;
}

@media (min-width: 480px) {
    #greeting {
        text-align: center;
    }

    #greeting>p {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .cart-container-horizontal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        grid-row-gap: 4rem;
        grid-auto-rows: auto;
        grid-template-rows: none;

    }

    .cart-container-horizontal .cart:first-child {
        grid-column: 1 / span 2;
    }
}