#main-section {
    grid-column: 1 / -1;
}

main>div {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

article {
    max-width: 600px;
    width: 100%;
    grid-column: 1;
}

aside {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #999999;
    position: sticky;
    top: 8rem;
    height: fit-content;
    margin-top: 11rem;
}

aside h4 {
    font-size: 1rem;
    font-weight: 400;
}

.active-header {
    color: white;
    font-weight: 600;
}

article section {
    margin-top: 8rem;
}

article section h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

article section p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #d1d5db;
}

article section img {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 1rem;
    max-width: 600px;
}

article section ul {
    margin-left: 1.5rem;
    color: #d1d5db;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

article section ul li {
    padding-left: 0.5rem;
}

article section ul li::marker {
    color: #4b5563;
}

article section ol {
    margin-left: 1.5rem;
    color: #d1d5db;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

article section ol li {
    padding-left: 0.5rem;
}

article section ol li::marker {
    color: #4b5563;
}

article section figure {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

article section figcaption {
    font-size: 0.9rem;
    color: #d1d5db;
}

article section strong {
    color: white;
    font-weight: 600;
}

article section a {
    color: white;
    font-weight: 600;
}

article blockquote {
    border-left: 4px solid #374151;
    padding-left: 1rem;
    margin: 1rem 0;
}

article blockquote p {
    color: white;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 0;
    display: inline;
}

article blockquote p::before {
    content: "“";
}

article blockquote p::after {
    content: "”";
}

article blockquote footer {
    all: unset;
    display: inline;
}

article blockquote footer cite {
    font-weight: 400;
    color: #d1d5db;

}

article blockquote footer cite::before {
    content: " — ";
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

article q {
    color: white;
    font-style: italic;
    font-weight: 600;
}

article code {
    color: white;
    font-weight: 600;
}

article code::before {
    content: "‘";
}

article code::after {
    content: "’";
}

article pre>code {
    all: unset;
}

article pre>code::before {
    content: "";
}

article pre>code::after {
    content: "";
}